@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/* HEADER */

header {
    background-color:#EAC926;
    font-size: 10px;
}

.top-container2 {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    margin: 30px 0 20px 30px;
    flex: 1;
}

.search-bar {
    display: flex;
    align-items: flex-start;
    flex: 1;
    margin: 0 15px;
    height: 20px;
}

input {
    width: 100%;
    margin-right: 5px;
}

.welcome-message {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    flex: 1;
}

a, .welcome-message>p {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

.site-login-menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: none;
    padding: 0 20px;
}

.menu, .actions {
    display: flex;
    flex-direction: row; 
    list-style: none;
}

li:not(:first-child){
    margin-left: 7px;
}

.burger-section {
    display: flex;
    justify-content: center;
}

.burger-menu {
    background-color: #1259c3; 
    display: flex;
    justify-content: center;
    width: 40px;
    margin: 15px 0 20px;
    padding: 10px;
    border-radius:5px;
}

.burger-icon {
    color: white;
    font-size: 20px;
}

.banner {
    display: block;
    width: 100vw;
    margin-top: 15px;
}

/* MAIN */

main {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90vw;
}

.last-visit, .sales {
    background-color: #ebebeb;
}

h1 {
    font-size: 2.4em;
    color:  #666;
    margin: 30px 0;
    padding-left: 15px;
}

.last-visit-cards, .sales-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card {
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card>img {
    width: 100%;
}

.text-card {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    padding: 15px;
    height: 100px;
    width: 100%;
    border-top: #ebebeb 1px solid;
}

.amount {
    display: flex;
}

.price {
    font-size: 1.8em;
    color: #666;
    flex: 1;
}

.discount {
    font-size: 1.6em;
    text-align: center;
    color: #39b54a;
    flex: 2.3;
}

.description {
    font-size: 1.6em;
    color: #666;
    display: none;
}

.truck-container {
    display: block;
    height: 30px;
    width: 30px;
    padding: 5px;
    border: solid 1px #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top:-18px;
}

.truck {
    color: #39b54a;
    font-size: 1.6em;    
}

/* FOOTER */

.footer-wrapper {
    padding: 10px;
    margin-top: 15px;
    background-color: #ffffff;
}

.payment-method, .delivery, .security {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.imp-text {
    font-size: 12px;
    color:#666;
} 
 
h3 {
    font-size: 14px;
    color: #666;
}

.footer-icon {
    color:#1259c3;
    font-size: 2em;
    margin-bottom: 10px;    
}

#copyright {
    margin: 15px 0;
}

/* BREAKPOINTS */

/* TABLET */

@media (min-width: 361px) {
    .top-container1 {
        display: flex;
        align-items: center;
    }
    
    .top-container2 {
        flex: 2;
    }

    .site-login-menus {
        display: flex;
    }

    a, .welcome-message>p {
        font-size: 0.9em;
    }   

    .burger-section {
        display: none;
    }

    .description{
        display: block;
    }

    .list-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product-card {
        width: 48%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

/* DESKTOP */

@media (min-width: 770px) {
    a, .welcome-message {
        font-size: 1.3em;
    }   

    .product-card {
        width: 23%;
    }   
}